/* Selector de gloval */

* {
   color: teal; 
}

/* Selector de etiquetas */

h1 {
   text-align: center;
   color: deeppink;
}

p {
   color: crimson;
}

td {
   color: black;
}

/* Selector de decendente */

p em {
   color:indigo;
}

/* Selector de clase */

.Color{
   color: green;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

