/* Selector de gloval */

* {
   color: teal; 
}

/* Selector de etiquetas */

h1 {
   text-align: center;
   color: deeppink;
}

p {
   color: crimson;
}

td {
   color: black;
}

/* Selector de decendente */

p em {
   color:indigo;
}

/* Selector de clase */

.Color {
   color: green;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Selector de id */

#tabla {
   text-align: right;
}
/* Selector de multiples */

em, th, a {
   font-size: x-large;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

td {
   color: royalblue;
   font-family: monospace;
   font-size: 15px;
}